<div id = "main">
	<div id = "posts">
		<h1>About Me</h1>
		<article>Hi im Colton.  Im interested in start-ups, programming, databases, and design.  I have a rottweiler named Lucy, a bulldog stepchild named Capone, and a beautiful girlfriend, Nikki.  If you want to get in contact, give me shout, my contact info is below.</article>
		<p>colton <small>(at)</small> coltonseal <small>(dot)</small> com</p>
		<p>(two one four) 205 - eight two two three</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<h1>SiteS</h1>
		<p>faketweet.herokuapp.com</p>
		<p>www.rangairemfg.com</p>
		<p>www.abelidea.com</p>
	</div>
</div>