<div id = "main">
	<div id = "posts">
		<h1>This is my first post.</h1>
		<article>This is my first blog post.  Right now I have nothing to do other than gain
		valuable knowledge building my own blogging management system.</article>
		<h3>Steps:</h3>
		<ul>
			<li>Create a css framework</li>
			<li>Generate a view or a template, make it accesible on call from terminal</li>
			<li>Create an admin front end that allows me to manage posts</li>
		</ul>
		<article>This should be an interesting project.  I know that rails makes it very easy to create a little blogging platform, but I will be doing this as much as I can from scratch, so that I can learn as much as possible.  If all else fails I can always use <%= link_to 'Ghost', "https://ghost.org/" %>.</article>
	</div>
</div>