<!-- This is was for the daywefight back.
<div class = "space"></div>
<p class = "text">CHECK OUT THE FORM BELOW, PLEASE FILL IT OUT</p>
<p class = "textsmall">(email is the easiest)

<p>|</p>
<p>|</p>

<p class = "arrow-left">\</p>
<p class = "arrow-right">/</p>
-->
<div class = "space"></div>
<!--<p class = "text"><%#=link_to "BLOG", blog_path %></p>-->
<p class = "text"><%=link_to "ABOUT", about_path %></p>

