/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, :after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
body {
  font-family: caviar_dreamsregular;
  height: 100%;
  width: 100%; }

.content {
  width: auto;
  height: auto; }

.space {
  height: 20px;
  width: 10px; }

h1 {
  align-content: center;
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  padding-top: 40px;
  padding-bottom: 10px; }

p {
  align-content: center;
  text-align: center;
  font-size: 22px;
  padding-top: 15px; }

.text {
  align-content: center;
  text-align: center;
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 20px; }

.arrow-left {
  margin-right: 8px;
  margin-top: -32px; }

.arrow-right {
  margin-left: 9px;
  margin-top: -37px; }

.underline {
  border: 1px black solid;
  margin-top: 18px; }

@font-face {
  font-family: 'park_lane_nfregular';
  src: url(/assets/park_lane_nf-webfont.eot);
  src: url(/assets/park_lane_nf-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/park_lane_nf-webfont.woff) format("woff"), url(/assets/park_lane_nf-webfont.ttf) format("truetype"), url(/assets/park_lane_nf-webfont.svg#park_lane_nfregular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roughwork_demoregular';
  src: url(/assets/rod_____-webfont.eot);
  src: url(/assets/rod_____-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/rod_____-webfont.woff) format("woff"), url(/assets/rod_____-webfont.ttf) format("truetype"), url(/assets/rod_____-webfont.svg#roughwork_demoregular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url("caviardreams-webfont.eot");
  src: url("caviardreams-webfont.eot?#iefix") format("embedded-opentype"), url("caviardreams-webfont.woff") format("woff"), url("caviardreams-webfont.ttf") format("truetype"), url("caviardreams-webfont.svg#caviar_dreamsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
