/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
@font-face {
  font-family: 'caviar_dreamsregular';
  src: url(/assets/caviardreams-webfont.eot);
  src: url(/assets/caviardreams-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/caviardreams-webfont.woff) format("woff"), url(/assets/caviardreams-webfont.ttf) format("truetype"), url(/assets/caviardreams-webfont.svg#caviar_dreamsregular) format("svg");
  font-weight: normal;
  font-style: normal; }
#main {
  width: 900px;
  height: auto;
  margin: auto; }

#posts {
  margin: 3em 0 0 0; }
  #posts h1 {
    font-size: 2em;
    padding: 0;
    margin: 0; }
  #posts article {
    font-size: 1.2em;
    text-align: justify;
    padding: 1.5em;
    line-height: 1.5em; }
    #posts article a {
      text-decoration: underline;
      color: black; }
  #posts ul {
    text-align: center; }
  #posts li {
    padding: .5em; }
  #posts h3 {
    padding-bottom: .5em;
    text-align: center; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, :after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
body {
  font-family: caviar_dreamsregular;
  height: 100%;
  width: 100%; }

.content {
  width: auto;
  height: auto; }

.space {
  height: 20px;
  width: 10px; }

h1 {
  align-content: center;
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  padding-top: 40px;
  padding-bottom: 10px; }
  h1 a {
    text-decoration: none;
    color: black; }

p {
  align-content: center;
  text-align: center;
  font-size: 1.2em;
  padding-top: 15px;
  line-height: 1.5em; }
  p a {
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none; }

span {
  align-content: center;
  text-align: center;
  font-size: 22px;
  padding-top: 15px; }

.text {
  align-content: center;
  text-align: center;
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 20px; }
  .text a {
    text-decoration: none;
    color: black; }
  .text a:hover {
    border-bottom: 1px solid black; }

.textsmall {
  align-content: center;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 15px; }

.arrow-left {
  margin-right: 8px;
  margin-top: -32px; }

.arrow-right {
  margin-left: 9px;
  margin-top: -37px; }

.underline {
  border: 1px black solid;
  margin-top: 18px; }

.email {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto; }

small {
  font-size: 14px;
  font-weight: 500; }

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url(/assets/caviardreams-webfont.eot);
  src: url(/assets/caviardreams-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/caviardreams-webfont.woff) format("woff"), url(/assets/caviardreams-webfont.ttf) format("truetype"), url(/assets/caviardreams-webfont.svg#caviar_dreamsregular) format("svg");
  font-weight: normal;
  font-style: normal; }
