#main {
	width: 900px;
	height: auto;
	margin: auto;
}

#posts{
	margin: 3em 0 0 0;
	
	h1 {
		font-size: 2em;
		padding: 0;
		margin: 0;
	}

	article {
		font-size: 1.2em;
		text-align: justify;
		padding: 1.5em;
		line-height: 1.5em;

		a {
			text-decoration: underline;
			color: black;
		}
	}

	ul {
		text-align: center;

	}

	li {
		padding: .5em;
		}

	h3 {
		padding-bottom: .5em;
		text-align: center;
	}
}


