// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: caviar_dreamsregular;
	height: 100%;
	width: 100%;
}

.content {
	width: auto;
	height: auto;
}

.space {
	height: 20px;
	width: 10px;
}

h1 {
	align-content: center;
	text-align: center;
	font-size: 70px;
	letter-spacing: 4px;
	padding-top: 40px;
	padding-bottom: 10px;

	a {
		text-decoration: none;
		color: black;
	}

}

p {
	align-content: center;
	text-align: center;
	font-size: 1.2em;
	padding-top: 15px;
	line-height: 1.5em;

	a {
		border-bottom: 1px solid black;
		color: black;
		text-decoration: none;
	}

}

span {
	align-content: center;
	text-align: center;
	font-size: 22px;
	padding-top: 15px;

}

.text {
	align-content: center;
	text-align: center;
	font-size: 22px;
	padding-top: 25px;
	padding-bottom: 20px;
	
	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		border-bottom: 1px solid black;
	}

}

.textsmall {
	align-content: center;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 15px;
	
}

.arrow-left {
	margin-right: 8px;
	margin-top: -32px; 
}

.arrow-right {
	margin-left: 9px;
	margin-top: -37px; 
}


.underline {
	border: 1px black solid;
	margin-top: 18px;
}

.email {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

small {
	font-size: 14px;
	font-weight: 500;
}


@font-face {
    font-family: 'caviar_dreamsregular';
    src: asset-url('caviardreams-webfont.eot');
    src: asset-url('caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('caviardreams-webfont.woff') format('woff'),
         asset-url('caviardreams-webfont.ttf') format('truetype'),
         asset-url('caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


